<!DOCTYPE html>
<html>
  <head>
    <title>Hypercube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}

{% block js %}
{% endblock %}
    
  </body>
</html>
