{% extends "base.html" %}
{% block content %}
{% for button in buttons %}
    <button id="{{ button.id }}" type="button" class="btn btn-{{ button.type }}">{{ button.text }}</button>
{% endfor %}

<div class="container">
  <table class="table">
      <thead>
          <tr>
              <th>Ścieżka</th>
              <th>Kolor</th>
              <th>Przycisk uruchamiania</th>
          </tr>
      </thead>
      <tbody>
        {% for path in paths %}
        <tr>
          <td><input type="text" class="form-control" id="path_text_{{ path.id }}" value="{{ path.value }}"></td>
          <td><input type="text" class="form-control" id="path_color_{{ path.id }}" value="{{ path.color }}"></td>
          <td><button class="btn btn-primary" id="path_button_{{ path.id }}">Zapisz i uruchom</button></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>




<form>
  <div class="form-group">
    <label for="pathInput">Ścieżka</label>
    <input type="text" class="form-control" id="pathInput" placeholder="A1B1" value="A1B1">
  </div>

  <div class="form-group">
    <label for="colorInput">Kolor</label>
    <input type="text" class="form-control" id="colorInput" placeholder="0;255;255" value="0;255;255">
  </div>
  
</form>

<h2 id="status"> STATUS </h2> 



{% endblock %}

{% block js %}

<script>

$(document).ready(function(){
    console.log("test");

    {% for button in buttons %}
    
    buttonvar = $("#{{ button.id }}")[0];
    buttonvar.addEventListener("click", clickListener{{ button.id }});
    function clickListener{{ button.id }}(){
        pathInput = $("#pathInput")[0].value;
        colorInput = $("#colorInput")[0].value;
        $.ajax({
            url: "/command",
            type: 'POST',
            dataType: 'json', // added data type
            contentType: "application/json; charset=utf-8",
            data: '{"button": "{{ button.id }}", "color":"'+colorInput+'", "path": "'+pathInput+'"}',
            success: function(data){
                console.log("success");
                console.log(data);
                $("#status")[0].innerHTML = "Status: "+data.status+" " + data.error;
            },
            error: function(data){
                console.log("error");
                console.log(data);
            }
        });
    };
    {% endfor %}


    {% for button in paths %}
    
    pathbutton = $("#path_button_{{ button.id }}")[0];
    pathbutton.addEventListener("click", clickListenerPath{{ button.id }});
    function clickListenerPath{{ button.id }}(){
        pathfield = $("#path_text_{{ button.id }}")[0];
        pathColor = $("#path_color_{{ button.id }}")[0];
        $.ajax({
            url: "/save_path",
            type: 'POST',
            dataType: 'json', // added data type
            contentType: "application/json; charset=utf-8",
            data: '{"id": "{{ button.id }}", "value":"'+pathfield.value+'", "color":"'+pathColor.value+'"}',
            success: function(data){
                console.log("success");
                console.log(data);
                $("#status")[0].innerHTML = "Status: "+data.status+" " + data.error;
            },
            error: function(data){
                console.log("error");
                console.log(data);
            }
        });
    };
    {% endfor %}


});
    
</script>

{% endblock %}
